<header class=" bg-blue-600 pl-4 h-14 flex items-center">
    <nav class="hover:scale-110  transition-all duration-300 w-24">
        <a href="/"><img class="object-cover" src="/images/guia.png" alt="" /></a>
    </nav>
</header>